<div class="top-bar">
  <div class="logo-area">
    <div class="logo-box">
      <span class="logo-x">X</span>
    </div>
    <h1 class="logo-text">Gerencie<span class="green-x">X</span></h1>
  </div>
  <div class="nav-links">
    <!--<span class="nav-link"><i class="pi pi-user"></i> Perfil</span>-->
    <span class="nav-link"><i class="pi pi-info-circle"></i> Sobre</span>
    <button class="btn-entrar custom-button" (click)="entrar()">Entrar</button>
  </div>
</div>

<div class="hero-section">
  <div class="hero-content">
    <h1>Otimize suas entregas com eficiência!</h1>
    <p>O GerencieX é a sua ferramenta inteligente para calcular a melhor forma de alocar produtos no caminhão, reduzindo o tempo de carregamento, o risco de danos e maximizando o espaço.</p>
    <ul>
      <li><i class="pi pi-check-circle"></i>  Cálculo automático de posicionamento ideal</li>
      <li><i class="pi pi-check-circle"></i>  Cadastro rápido de caminhões e produtos</li>
      <li><i class="pi pi-check-circle"></i>  Otimização prática em poucos cliques</li>
    </ul>
    <button class="custom-alert-button"><i class="pi pi-play"></i> Começar agora</button>
  </div>
  <div class="hero-image">
    <img src="assets/icons/truck_icon.svg" alt="Caminhão" />
  </div>
</div>

<div class="cards-container">
  <div class="card">
    <div class="icon"><img src="assets/icons/timer.svg" alt="Timer" fill style="height: 75px; width: auto;"/></div>
    <h2>30%</h2>
    <p>menos tempo de carregamento</p>
  </div>

  <div class="card">
    <div class="icon"><img src="assets/icons/trophy.svg" alt="Troféu" fill style="height: 75px; width: auto;"/></div>
    <h2>98%</h2>
    <p>de aproveitamento de espaço</p>
  </div>

  <div class="card">
    <div class="icon"><img src="assets/icons/package.svg" alt="Produto" fill style="height: 75px; width: auto;"/></div>
    <h2>Adicione</h2>
    <p>seus caminhões e seus produtos</p>
  </div>
</div>
