.link-topo {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 1000;
}

.form-section {
  border: none;
  padding: 0;
  margin-bottom: 20px;
  border: none;
}

.form-section legend {
  font-size: 18px;
  font-weight: 600;
  color: var(--blue-color-1);
  margin-bottom: 12px;
}

.scroll-hint {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  color: var(--gray-color);
  margin-bottom: 12px;
  animation: fadeScrollHint 1.6s ease-in-out infinite;
}

.scroll-hint i {
  font-size: 22px;
  margin-bottom: 4px;
}
