<app-navbar></app-navbar>
<div class="home-container">
    <div class="home-content">
      <div class="left-container">
        <div class="left-content">
          <div class="item"><a class="item-link">Cadastrar Caminhão</a></div>
          <div class="item"><a class="item-link">Cadastrar Produtos</a></div>
          <div class="item"><a class="item-link">Realizar Otimização</a></div>
        </div>
      </div>
      <div class="info">
        <h1>Bem-vindo à nossa plataforma!</h1><br/>
        <p>Nosso software oferece um serviço de cálculo para otimização do posicionamento de suas cargas no caminhão.</p><br/>
        
        <div class="funtions">
          <div class="card-1">
            <h2>Cadastrar Caminhão</h2>
            <i class="pi pi-truck" style="font-size: 5rem; margin-right: 5px; margin-bottom: 8px;"></i><br/>
            <button class="custom-button">Ir</button>
          </div>
          <div class="card-2">
            <h2>Cadastrar Produtos</h2>
            <i class="pi pi-box" style="font-size: 5rem; margin-right: 5px; margin-bottom: 8px;"></i><br/>
            <button class="custom-button">Ir</button>
          </div>
          <div class="card-3">
            <h2>Realizar Otimização</h2>
            <i class="pi pi-calculator" style="font-size: 5rem; margin-right: 5px; margin-bottom: 8px;"></i><br/>
            <button class="custom-button">Ir</button>
          </div>
        </div>
      </div>
    </div>
    <div class="screen__background">
      <span class="screen__background__shape screen__background__shape1"></span>
      <span class="screen__background__shape screen__background__shape2"></span>
      <span class="screen__background__shape screen__background__shape3"></span>
      <span class="screen__background__shape screen__background__shape4"></span>
      <span class="screen__background__shape screen__background__shape5"></span>
      <span class="screen__background__shape screen__background__shape6"></span>
  </div>
</div>