<app-navbar></app-navbar>
<div class="page-container">
  <div class="home-container">
    <div class="welcome">
      <h1>Olá, João!</h1>
      <p>Bem-vindo de volta ao GerencieX</p>
      <button class="btn-gradient" (click)="otimizar()">Otimizar agora</button>
    </div>

    <div class="card-container">
      <div class="card" (click)="gerenciarCaminhoes()">
        <i class="pi pi-truck icon"></i>
        <h2>Gerenciar Caminhão</h2>
        <p>Gerencie seus caminhões</p>
      </div>

      <div class="card" (click)="gerenciarProdutos()">
        <i class="pi pi-box icon"></i>
        <h2>Gerenciar Produtos</h2>
        <p>Vincule um produto a um caminhão</p>
      </div>
    </div>
  </div>
</div>
<app-screen-background></app-screen-background>
