.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--background-color);
}

.login-box {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  width: 400px;
  height: 420px;
  text-align: center;
}

.login-box h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
  color: var(--blue-color-1);
  text-align: left;
}

.register {
  margin-top: 1rem;
}

.register a {
  color: #163e68;
  font-size: 0.9rem;
  text-decoration: none;
}

.register a:hover {
  text-decoration: underline;
}
