<div class="login-container">
  <app-logo></app-logo>

  <div class="login-box">
    <h2>Faça login na sua <br/>conta</h2>

    <form>
      <div class="input-container">
        <label for="email">
          <i class="pi pi-envelope input-icon"></i>
          E-mail
        </label>
        <input id="email" type="email"/>
      </div>


      <div class="input-container">
        <label for="senha">
          <i class="pi pi-lock input-icon"></i>
          Senha
        </label>
        <input id="senha" type="password"/>
      </div>

      <button type="submit" class="custom-alert-button" style="width: 100%; margin-top: 20px;">Entrar</button>
    </form>

    <div class="register" style="align-self: end">
      <a href="#">Não possui conta?</a>
    </div>
  </div>
</div>
