<app-navbar></app-navbar>

<div class="page-container">

  <div class="form-container">

    <h2>{{ modoAtual === 'editar' ? 'Editar Perfil' : 'Meu Perfil' }}</h2>

    <!-- VISUALIZAÇÃO DO PERFIL -->
    <div class="perfil-visual" *ngIf="modoAtual === 'perfil'">
  
      <div class="perfil-info">
        <p><i class="pi pi-id-card"></i><strong>CNPJ:</strong>  {{ cnpjFormatado }}</p>
        <p><i class="pi pi-envelope"></i><strong>Email:</strong>  {{ usuario.email }}</p>
        <p><i class="pi pi-phone"></i><strong>Telefone:</strong>  {{ usuario.telefone }}</p>
        <p><i class="pi pi-building"></i><strong>Razão Social:</strong> {{ usuario.razaoSocial }}</p>
      </div>

      <div class="perfil-actions">
        <button class="btn-primario" (click)="modoAtual = 'editar'">
          <i class="pi pi-user-edit"></i> Editar Perfil
        </button>
        <button class="btn-danger" (click)="sairConta()">
          <i class="pi pi-sign-out"></i> Sair da Conta
        </button>
      </div>
    </div>

    <!-- EDIÇÃO DO PERFIL -->
    <form class="form" *ngIf="modoAtual === 'editar'" (ngSubmit)="salvarEdicao()">

        <div class="input-container">
          <label for="razao">Razão Social</label>
          <input id="razao" type="text" [(ngModel)]="usuario.razaoSocial" name="razao" placeholder="Digite sua razão social" />
        </div>

        <div class="input-container">
          <label for="email">Email</label>
          <input id="email" type="email" [(ngModel)]="usuario.email" name="email" placeholder="Digite seu email" />
        </div>

        <div class="input-container">
          <label for="telefone">Telefone</label>
          <input id="telefone" type="text" [(ngModel)]="usuario.telefone" name="telefone" placeholder="Digite seu telefone" />
        </div>

      <div class="perfil-actions">
        <button class="btn-sucesso" type="submit">Salvar</button>
        <button class="btn-secundario" type="button" (click)="cancelar()">Cancelar</button>
      </div>
    </form>
  </div>
</div>

<app-screen-background></app-screen-background>