/* three-d-view.component.css */
:host {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.three-container {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 10px;
}

@media (max-width: 576px) {
  .three-container, canvas {
    min-height: 200px;
    height: 500px;
  }
}