<div class="home-container" style="position: relative; z-index: 1">
  <app-navbar></app-navbar>

  <div class="welcome">
    <h1>Olá, João!</h1>
    <p>Bem-vindo de volta ao GerencieX</p>
    <button class="btn-otimizar">Otimizar agora</button>
  </div>

  <div class="card-container">
    <div class="card">
      <i class="pi pi-chart-line icon"></i>
      <h2>Otimização</h2>
      <p>Vá para otimização</p>
    </div>

    <div class="card">
      <i class="pi pi-truck icon"></i>
      <h2>Cadastrar Caminhão</h2>
      <p>Adicione um caminhão</p>
    </div>

    <div class="card">
      <i class="pi pi-box icon"></i>
      <h2>Cadastrar Produto</h2>
      <p>Adicione um produto</p>
    </div>
  </div>
</div>
<app-screen-background style="position: absolute; z-index: 0; top: 0; left: 0; width: 100%; height: 100%"></app-screen-background>
