<div class="top-bar">
    <div class="logo-area">
      <div class="logo-box">
        <span class="logo-x">X</span>
      </div>
      <h1 class="logo-text">Gerencie<span class="green-x">X</span></h1>
    </div>
    <div class="right-section">
      <button class="btn-entrar">Entrar</button>
    </div>
  </div>
  
<div class="landing-page">
    <div class="conteudo">
      <div class="texto">
        <div class="logo-area" style="font-size: 3rem;">
            <div class="logo-box" style="font-size: 3rem;">
              <span class="logo-x" style="font-size: 3rem;">X</span>
            </div>
            <h1 class="logo-text" style="font-size: 3rem;">Gerencie<span class="green-x" style="font-size: 3rem;">X</span></h1>
          </div>
        <p class="subtitulo">Otimize a gestão de caminhões e produtos com agilidade, segurança e precisão.</p>
        <a routerLink="/home" class="btn-acessar">Acessar Plataforma</a>
      </div>
  
      <div class="imagem">
        <img src="../../assets/images/truck_dashboards.png" alt="Caminhão e planilhas" />
      </div>
    </div>
  </div>
  