<app-navbar></app-navbar>
<div class="cadastro-container">
    <div class="form-container">
      <h2>Cadastro de Produtos</h2>
      <div class="adiciona-arquivo">
        <button class="custom-button"><i class="pi pi-truck" style="font-size: 0.7rem; margin-right: 5px;"></i>Selecionar Arquivo</button>
      </div>
      <p>ou</p>
      <div class="form">
        <div class="input-container">
            <label for="nome">Nome</label>
            <input id="nome" type="text" placeholder="Informe o nome do produto" required />
          </div>

        <div class="input-container">
            <label for="comprimento">Comprimento (metros)</label>
            <input id="comprimento" type="number" placeholder="Digite o comprimento do produto" required />
          </div>

        <div class="input-container">
          <label for="altura">Altura (metros)</label>
          <input id="altura" type="number" placeholder="Digite a altura do produto" required />
        </div>
  
        <div class="input-container">
          <label for="largura">Largura (metros)</label>
          <input id="largura" type="number" placeholder="Digite a largura do produto" required />
        </div>
  
        <button class="custom-button" type="submit">Adicionar</button>
      </div>
    </div>
    <div class="tabela-container">
        <button class="custom-button" style="background-color: var(--blue-color-2);">Finalizar</button>
        <table class="custom-table">
        <thead>
            <tr>
            <th>Nome</th>
            <th>Comprimento (m)</th>
            <th>Altura (m)</th>
            <th>Largura (m)</th>
            <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td>Nome</td>
            <td>C</td>
            <td>A</td>
            <td>L</td>
            <td><button>Excluir</button></td>
            </tr>
            <tr>
            <td>Nome</td>
            <td>C</td>
            <td>A</td>
            <td>L</td>
            <td><button>Excluir</button></td>
            </tr>
            <tr>
            <td>Nome</td>
            <td>C</td>
            <td>A</td>
            <td>L</td>
            <td><button>Excluir</button></td>
            </tr>
            <tr>
            <td>Nome</td>
            <td>C</td>
            <td>A</td>
            <td>L</td>
            <td><button>Excluir</button></td>
            </tr>
            <tr>
            <td>Nome</td>
            <td>C</td>
            <td>A</td>
            <td>L</td>
            <td><button>Excluir</button></td>
            </tr>
        </tbody>
        </table>
    </div>
    
    
</div>
