/* Container geral */
.cadastro-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: auto;
  background-color: var(--light-color);
  padding: 45px 0;
}

/* Formulário de produto */
.form-container {
  width: 40%;
  max-width: 500px;
  height: 100%;
  background-color: var(--background-color);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  z-index: 1;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: var(--text-color);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input-container {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  color: var(--gray-color);
}

input {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 16px;
  outline: none;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: var(--blue-color-1);
}

/* Botão customizado */
.custom-button {
  padding: 12px;
  background-color: var(--blue-color-1);
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 80%;
  margin-top: 20px;
}

.custom-button:hover {
  background-color: var(--blue-color-2);
}

.dropdown-caminhao {
  padding: 12px;
  font-size: 16px;
  border-radius: 16px;
  border: 1px solid #ddd;
  outline: none;
  width: 100%;
  max-width: 100%;
  background-color: white;
  transition: border-color 0.3s ease;
}

.dropdown-caminhao:focus {
  border-color: var(--blue-color-1);
}


/* Container da tabela */
.tabela-container {
  width: 50%;
  max-width: 700px;
  padding: 20px;
  background-color: var(--background-color);
  border-radius: 12px;
  margin-left: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.tabela-titulo {
  font-size: 20px;
  margin-bottom: 16px;
  color: var(--text-color);
  font-weight: 600;
}

/* Tabela de produtos */
.custom-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;
}

.custom-table thead {
  background-color: var(--blue-color-1);
  color: white;
}

.custom-table th,
.custom-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}

.custom-table tr:nth-child(even) {
  background-color: var(--light-color);
}

/* Botão de excluir */
.btn-excluir {
  padding: 6px 12px;
  background-color: transparent;
  color: var(--blue-color-1);
  border: 1px solid var(--blue-color-1);
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

.btn-excluir:hover {
  background-color: var(--blue-color-2);
  color: white;
}

/* Responsividade */
@media (max-width: 768px) {
  .cadastro-container {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .form-container {
    width: 80%;
  }

  .tabela-container {
    width: 90%;
    margin-left: 0;
    margin-top: 30px;
  }

  .custom-table {
    font-size: 14px;
  }

  .btn-excluir {
    padding: 4px 8px;
    font-size: 12px;
  }
}

/* Container do fundo */
.screen__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
  }

  /* Formas no fundo */
  .screen__background__shape {
    position: absolute;
    border-radius: 72px; /* Borda arredondada */
    opacity: 0.8; /* Transparência para mesclar as formas */
  }

  .screen__background__shape1 {
    height: 650px;
    width: 650px;
    background: var(--accent-color); /* Tom de laranja/vermelho */
    top: 120px;
    right: -260px;
  }

  .screen__background__shape2 {
    height: 200px;
    width: 250px;
    background: var(--blue-color-2); /* Tom de roxo */
    top: 50px;
    right: 250px;
  }

  .screen__background__shape3 {
    height: 400px;
    width: 300px;
    background: var(--accent-color); /* Tom de laranja/vermelho */
    top: 300px;
    left: 200px;
  }

  .screen__background__shape4 {
    height: 320px;
    width: 180px;
    background: var(--blue-color-1); /* Tom de azul */
    top: 600px;
    right: 70px;
  }

  .screen__background__shape5 {
    height: 500px;
    width: 350px;
    background: var(--blue-color-1); /* Tom de verde */
    bottom: 50px;
    left: 100px;
  }

  .screen__background__shape6 {
    height: 450px;
    width: 450px;
    background: var(--blue-color-2); /* Tom de roxo */
    bottom: 100px;
    right: -100px;
    opacity: 0.7; /* Transparência para dar um efeito suave */
  }
