/* Top bar */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--background-color);   /* fundo claro */
  border-bottom: 1px solid #E7ECEF;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.logo-area {
  display: flex;
  align-items: center;
}

.logo-clickable {
  display: flex;
  align-items: center;
  text-decoration: none; /* Garante que não haja sublinhado */
  color: inherit; /* Mantém a cor padrão do texto */
  cursor: pointer;
}

.logo-clickable:hover {
  opacity: 0.8;
}

.logo-box {
  background-color: var(--light-color);
  border-radius: 12px;
  padding: 6px 10px;
  margin-right: 10px;
}

.logo-x {
  font-size: 1.5rem;
  color: var(--accent-selected-color);
  font-weight: bold;
}

.logo-text {
  font-size: 1.5rem;
  color: #163e68;
  font-weight: 600;
  margin: 0;
}

.green-x {
  color: var(--accent-selected-color);
}


.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
}

.user-section {
  display: flex;
  align-items: center;
  gap: 40px;
  color: var(--text-color);
  font-weight: 500;
}

.username {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-size: 0.95rem;
  color: var(--blue-color-1); /* ou var(--text-color) */
  padding: 6px 12px;
  border-radius: 8px;
  transition: background-color 0.2s ease;
}

.username i {
  font-size: 0.85rem;
  color: var(--gray-color);
  transition: transform 0.2s ease;
}

.username-wrapper:hover .username {
  background-color: rgba(0, 0, 0, 0.05);
}

.username-wrapper:hover .username i {
  transform: rotate(180deg);
}
