<div class="top-bar">
  <div class="logo-area">
    <div class="logo-clickable" (click)="home()">
      <div class="logo-box">
        <span class="logo-x">X</span>
      </div>
      <h1 class="logo-text">Gerencie<span class="green-x">X</span></h1>
    </div>
  </div>


  <div class="user-section">
    <button *ngIf="isLoggedIn()" class="btn-gradient" (click)="otimizar()">Otimizar</button>
    <button *ngIf="isLoggedIn()" class="btn-danger" (click)="logout()">Sair</button>
    <div class="username-wrapper">
      <span class="username">{{ nomeUsuario }}</span>
    </div>
  </div>
</div>
