<app-navbar></app-navbar>
<div class="cadastro-container">
    <div class="form-container">
      <h2>Cadastro de Caminhão</h2>
      <div class="form">
        <div class="input-container">
            <label for="comprimento">Comprimento (metros)</label>
            <input id="comprimento" type="number" placeholder="Digite o comprimento do caminhão" required />
          </div>

        <div class="input-container">
          <label for="altura">Altura (metros)</label>
          <input id="altura" type="number" placeholder="Digite a altura do caminhão" required />
        </div>
  
        <div class="input-container">
          <label for="largura">Largura (metros)</label>
          <input id="largura" type="number" placeholder="Digite a largura do caminhão" required />
        </div>
  
        <button class="custom-button" type="submit">Cadastrar</button>
      </div>

    </div>
    
    
</div>
