<app-navbar></app-navbar>
<div class="container-gerenciar">
<div class="background">
  <h1 class="titulo">Gerenciar Caminhões</h1>
  <button class="custom-alert-button" (click)="exibirFormulario()" style="font-weight: 600">+ Adicionar Caminhão</button>

  <div *ngIf="mostrarFormulario" class="form-container">
    <form (ngSubmit)="adicionarOuEditarCaminhao()" #form="ngForm">
      <input type="text" name="modelo" [(ngModel)]="novoCaminhao.modelo" placeholder="Modelo" required />
      <input type="text" name="placa" [(ngModel)]="novoCaminhao.placa" placeholder="Placa" required />
      <input type="number" name="ano" [(ngModel)]="novoCaminhao.ano" placeholder="Ano" required />

      <div class="botoes-formulario">
        <button type="submit" class="btn-salvar" [disabled]="form.invalid">
          {{ modoEdicao ? 'Salvar Alterações' : 'Salvar' }}
        </button>
        <button type="button" class="btn-cancelar" (click)="cancelarAdicao()">Cancelar</button>
      </div>
    </form>
  </div>

  <h2 class="subtitulo">Lista de Caminhões</h2>
  <table class="tabela-caminhoes">
    <thead>
    <tr>
      <th>Modelo</th>
      <th>Placa</th>
      <th>Ano</th>
      <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let caminhao of caminhoesPaginados; let i = index">
      <td data-label="Modelo">{{ caminhao.modelo }}</td>
      <td data-label="Placa">{{ caminhao.placa }}</td>
      <td data-label="Ano">{{ caminhao.ano }}</td>
      <td data-label="Ações">
        <div style="display: flex; gap: 10px">
          <button class="acao-link" (click)="editarCaminhao(caminhao, i)">Editar</button>
          <button class="acao-link excluir" (click)="excluirCaminhao(caminhao)">Excluir</button>
        </div>
      </td>
    </tr>
    </tbody>

  </table>
    <div class="paginacao">
      <button
        *ngFor="let pagina of [].constructor(totalPaginas); let i = index"
        (click)="mudarPagina(i + 1)"
        [class.ativa]="paginaAtual === i + 1"
      >
        {{ i + 1 }}
      </button>
    </div>
</div>
</div>

<app-screen-background></app-screen-background>
